<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yo thymeleaf</title>
</head>

<body>

    <div th:replace="fragments/menu :: main-menu">main menu goes here</div>

    <p>
        Hello <span th:text="${model.username}">username</span>, and welcome to the application.
    </p>

    <br>

    <a th:href="@{/profile(id=${model.id},trial=1)}" href="profile.html?id=userId">View my profile</a>

    <div th:replace="fragments/menu :: footer-menu">footer menu goes here</div>

</body>
</html>